* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url(./images/swirl.png);
  background-size: cover;
  min-width: min-content;
}

.navbar-nav a {
  color: rgb(0, 0, 0);
  margin: 0 20px ;
  margin-top: 30px;
}

.nav-link {
  font-size:x-large;
  text-align: center;
  width: 150px;
  background-color: #8ccbc8;
  border-radius: 20px;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  background-color: #60a3a0;
}

.jumbotron{
  background-image: url(./images/swirl.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px;
}

.intro {
  padding-top: 50px;
}
.intro img {
  width: 400px;
}
.jumbotron h1 {
  margin: 30px 0;
  font-size: 30px;
  line-height: 1.5;
}

.skills-area {
  padding: 40px 20px;
}
.display-2 {
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
}

.lead {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.card {
  background-image: url(./images/swirl.png);
  background-size: cover;
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  margin: 5px;
}

.profile-area {
  padding: 40px 20px;
}
.card2 {
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  background-image: url(./images/swirl.png);
  background-size: cover;
  margin: 5px;
}
.card-img-top {
  border-radius: 40px;
  padding: 20px;
}

.main-text {
 padding: 30px 0 ;
 text-align: center;
 color: white;
}
.main-text h3{
  display: inline-block;
  text-transform: uppercase;
  font-size: x-large;
  text-decoration: solid;
  color: rgb(0, 0, 0);
  background-color: rgb(24, 141, 102);
  padding: 10px;
  border-radius: 20px;
}
.main-text p{
  margin: 20px;
  color: black;
}