* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url(./images/swirl.png);
  background-size: cover;
  min-width: min-content;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  margin-bottom: 5px;
}
h1 {
  color: rgb(0, 0, 0);
  margin-right: auto;
}
.navlinks {
  list-style: none;
  justify-content: flex-end;
}
ul{
	list-style: none;
}
li, a {
  font-weight: 50px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: underline
}
li, a:hover {
  color: #00b9fc;
}
.navlinks li {
  display: inline-block;
  padding: 0px 10px;
}
.jumbotron {
  display: flex;
  background-image: url(./images/banner4.png);
  background-size: cover;
  min-height: 550px;
  padding: 30px 10%;
  box-shadow: 0 0 30px;
} 
.jumbotext{
  font-size: 60px;
  color: black;
}
.skills-area {
  padding: 40px 20px;
}
.display-2 {
  padding: 10px;
  border-radius: 10px;
}

.lead {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.card {
  background-image: url(./images/swirl.png);
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  margin: 5px;
}

.profile-area {
  padding: 40px 20px;
}
.card2 {
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  background-image: url(./images/swirl.png);
  margin: 5px;
}
.card-img-top {
  border-radius: 40px;
  padding: 20px;
}

.main-text {
 padding: 30px 0 ;
 text-align: center;
 color: white;
}
.main-text h3{
  display: inline-block;
  text-transform: uppercase;
  font-size: x-large;
  text-decoration: solid;
  color: rgb(0, 0, 0);
  background-color: rgb(24, 141, 102);
  padding: 10px;
  border-radius: 20px;
}
.main-text p{
  margin: 20px;
  color: black;
}