/* Overall settings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url(./images/swirl.png);
  background-size: cover;
  min-width: min-content;
}

/* Nav bar section */

.navbar-nav a {
  color: rgb(0, 0, 0);
  margin: 0 20px ;
  margin-top: 30px;
}

.nav-link {
  font-size:x-large;
  text-align: center;
  width: 150px;
  background-color: #8ccbc8;
  border-radius: 20px;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  background-color: #60a3a0;
}

/* Jumbotron area */

.jumbotron{
  background-image: url(./images/swirl.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px;
}

.intro {
  padding-top: 50px;
}
.intro img {
  width: 400px;
}
.jumbotron h1 {
  margin: 30px 0;
  font-size: 30px;
  line-height: 1.5;
}

/* Skills Area */

.skills-area {
  padding: 40px 20px;
}
.display-2 {
  padding: 10px;
  border-radius: 10px;
  text-decoration: underline;
}

.lead {
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.card {
  background-image: url(./images/swirl.png);
  background-size: cover;
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  margin: 5px;
}

/* Skills Icon section */

.skillscard {
  background-image: url(./images/swirl.png);
  background-size: cover;
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  margin: 15px 50px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.card-header {
  background-color: #8ccbc8;
}

.skillset {
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
}

.skillset img {
  width: 100px;
}

/* Projects/profile area */

.profile-area {
  padding: 40px 20px;
}
.card2 {
  box-shadow: 0 0 30px ;
  overflow: hidden ;
  border-radius: 15px ;
  background-image: url(./images/swirl.png);
  background-size: cover;
  margin: 5px;
}
.card-img-top {
  border-radius: 40px;
  padding: 20px;
}

.main-text {
 padding: 30px 0 ;
 text-align: center;
 color: white;
}
.main-text h3{
  color: rgb(0, 0, 0);
}
.main-text p{
  margin: 20px;
  color: black;
}

/* About me/ contact me area */

.aboutme-area {
  padding: 40px 20px;
}

.contactme, .aboutme{
  background-color: #8ccbc8;
  margin: 40px;
  border-radius: 60px;
  box-shadow: 0 0 30px ;
}

/* Footer */

footer {
  background-color: #8ccbc8;
  background-size: cover;
  margin: 0 auto;
}

.footer-social {
  color: #9e60a3;
}
.footer-social:hover {
  box-shadow: 20px 20px 50px 10px rgb(215, 158, 255) inset;
}